# DevContainer settings
.devcontainer/

# GitHub settings
.github/

# VSCode settings
.vscode/

# Source files
src/

# Test files
test/

# Configuration files
.editorconfig
babel.config.mjs
eslint.config.mjs
tsconfig.json
webpack.config.mjs
