name: Trigger on tags

on:
  push:
    tags:
      - v*.*.*

permissions:
  contents: write
  id-token: write

jobs:
  deploy-to-npm:
    name: Deploy to npm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repos
        uses: actions/checkout@v4
      - name: Deploy to npm
        uses: ./.github/actions/deploy-to-npm
        env:
          BUILD_VERSION: ${{vars.BUILD_VERSION}}
          NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}
  deploy-to-github-release:
    name: Deploy to GitHub Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repos
        uses: actions/checkout@v4
      - name: Deploy to GitHub Release
        uses: ./.github/actions/deploy-to-github-release
